doctype html
head
  meta(charset="utf-8")
  title 指令方块
  link(rel="stylesheet", href="index.css")
  script(src="blockcmd-header.js", charset="utf-8")
  script(src="blockcmd-stype.js", charset="utf-8")
  script(src="blockcmd-operator.js", charset="utf-8")
  script(src="blockcmd-node.js", charset="utf-8")
  script(src="index.js", charset="utf-8")
body
  .checkerboard
    .topnum
      - var i = 1;
        while i <= 10
          span=i++
    .content
      - var i = 1;
        while i <= 10
          - var j = 1;
            div.line(data-id=i++)
              while j++ <= 10
                div(id="box-#{j - 2}-#{i - 2}", onclick="onpress(event)", oncontextmenu="onrightclick(event); return false;")
      #node
  .con
    .linenum-box
      #linenums
        #errorpoint
    textarea#command(type="text", onclick="updateText()", onchange="updateText()", onkeydown="updateText()", onscroll="scroll()", wrap="off")
    button(onclick="go()") go
    button(onclick="randomWall()") create wall